{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
  .settings-body {
    padding-top: 5%;
  }
</style>
{% endblock style %}

{% block content %}
<div class="settings-body container">
  <h3 class="text-center"><strong>Personal Info</strong></h3>
  <h5 class="text-center">Basic info, like your name and photo, that you use on this website</h5>
  <div class="row d-flex justify-content-center">
    <div class="col-md-9">
      <!-- Card -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient text-left">
          <!-- Title -->
          <h4>Profile</h4>
          <!-- Subtitle -->
          <p>Your profile will be visible to any user, but thankfully not your face.</p>
        </div>
        <!-- Card content -->
        <div class="card-body card-body-cascade">
          <div class="list-group-flush">
            <a href="{% url 'user_settings_name' %}" class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-md-3">Photo</div>
                <div class="col-md-8">A photo helps personalize your account</div>
                <div class="col-md-1 align-items-right"><i class="fas fa-angle-right"></i></div></div>
            </a>
            <a href="{% url 'user_settings_name' %}" class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-md-3">Name</div>
                <div class="col-md-8">{{ user.username }}</div>
                <div class="col-md-1 align-items-right"><i class="fas fa-angle-right"></i></div></div>
            </a>
            <a href="{% url 'user_settings_name' %}" class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-md-3">Text</div>
                <div class="col-md-8">{{ user.text }}</div>
                <div class="col-md-1 align-items-right"><i class="fas fa-angle-right"></i></div></div>
            </a>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
{% endblock content %}